body{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-size: 15px;
    top: 0;
    left: 0;
    margin: 0;
}
.parent {
    background-color: hsl(212, 45%, 89%);
    display:flex;
    min-width: 375px;
    max-width: 1440px;
    width: 100%;
    height:100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    align-content: center;
}
.container {
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}
.qr-code {
    text-align: center;
    justify-content: center;
    width: 90%;
    padding:5%;
    border-radius: 30px;
}
h3 {
    font-weight: 900;
    color: hsl(218, 44%, 22%);
    text-align: center;
    justify-content: center;
}
p {
    font-weight: 500;    
    color: hsl(216, 15%, 48%);
    text-align: center;
    justify-content: center;
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}